doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author' content='hallur@hallur.io')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Hallur.io
    link(rel='icon' href='favicon.ico')
    link(rel='stylesheet' href='stylesheets/main.css')
  body
    block content
